doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/main.3f6952e4.css')
  body
    include ./header

    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="/javascripts/main.70a66962.js")
